.title {
  padding-left: 1rem;
  padding-top: 2px;
  color: teal;
  font-weight: bold;
}

.bi-bookmark-check-fill {
  color: teal;
}

.second-link {
  color: teal;
}

.add {
  background-color: teal;
  border-color: teal;
}

.container-list {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.list-group-item {
  text-align: left;
}

.checkbox:checked + label{
  text-decoration: line-through;
}

.list-title {
  font-weight: bold;
}